:root {
  --header-color: #f63440;
  --page-color: #333;
  --bg-color: #eee;
  --shadown-color: rgb(36, 11, 12, 0.05);
  --sub-nav-color: #636363;
  --slide-btn-color: #949299;
  --white-color: white;
  --addToCart-color: #c33442;
  --register-color: #f5f5f5;
  --footer-color: rgb(52, 50, 50);
  --light-white: #aaa;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  color: var(--page-color);
}

header {
  height: 90px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 14.25px 0.75px var(--shadown-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  z-index: 99;
}

header .logo-shop img {
  width: 110px;
  height: auto;
  cursor: pointer;
}

header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-control,
.nav-info {
  display: flex;
  position: relative;
  font-weight: 700;
}

header .nav-control > li {
  margin: 0 2px;
  transition: 0.4s ease-in-out;
  padding: 35px 18px;
}

header .nav-info {
  margin-left: 25px;
  position: relative;
}

header .nav-info li {
  margin: 5px;
  padding: 14px;
  transition: 0.4s ease-in-out;
}

header .nav-info li.cart-icon {
  border-radius: 50%;
  background-color: var(--bg-color);
  position: relative;
}

li.cart-icon .num,
.cart .cart-mb-num {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--header-color);
  padding: 1px 4px;
  border-radius: 50%;
  font-size: 12px;
  color: var(--white-color);
}

header .nav-control > li:hover {
  color: var(--header-color);
  cursor: pointer;
}

header .nav-info .user-icon:hover,
.cart-icon:hover {
  color: var(--header-color);
  border-radius: 50%;
  background-color: var(--bg-color);
  cursor: pointer;
}

header .user-icon-click:hover {
  pointer-events: none;
}

.control-icon.active {
  color: var(--header-color);
}

.nav-control .home-list,
.nav-info .user-login {
  position: absolute;
  left: -4px;
  padding: 10px;
  color: var(--page-color);
  margin-top: 34px;
  background-color: var(--white-color);
  box-shadow: 0 4px 15px 1px var(--shadown-color);
  border-top: 3px solid var(--header-color);
  cursor: default;
  animation: sub-header 0.5s ease;
  display: none;
  font-weight: 300;
}

header .user-login li {
  padding: 0;
}

header .user-login li a {
  display: block;
  padding: 16px 30px;
  height: 100%;
  width: 100%;
  text-align: center;
}

.comeUpTab li {
  padding: 16px 30px;
  font-size: 15px;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--sub-nav-color);
}

.home-list li.active,
.comeUpTab li:hover {
  background-color: var(--bg-color);
}

header .home:hover .home-list {
  display: block;
}

header .search-icon:hover {
  cursor: pointer;
  background-color: var(--bg-color);
  border-radius: 0 10px 10px 0;
  color: var(--header-color);
}

header .search-icon:hover .search {
  display: block;
}

header .search {
  position: absolute;
  top: 5.65px;
  right: 150px;
  background-color: var(--bg-color);
  padding: 14.5px 30px;
  border-radius: 6px;
  width: 500px;
  font-size: 15px;
  display: none;
  animation: searchBox 0.5s ease;
}

header .user-login {
  position: absolute;
  top: 38px;
}

header .user-login.show {
  display: block;
}

header .user-login li {
  border-bottom: 1px solid var(--sub-nav-color);
}

header .menu-icon {
  font-size: 35px;
  display: none;
  color: var(--header-color);
}

header .close,
header .cart,
header .login-item,
header .search-sub {
  display: none;
}
/* ------------------------------ */
#slide_show {
  position: relative;
  top: 90px;
  overflow: hidden;
}

#slide_show .slide_container {
  position: relative;
  display: flex;
  width: 300%;
  transition: 1s;
}

#slide_show .slide {
  width: 100%;
}

#slide_show .slide img {
  width: 100%;
  cursor: pointer;
}

#slide_show .slide_container input {
  display: none;
}

#slide_show .slide_manual {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#slide_show .manual-btn {
  background-color: var(--slide-btn-color);
  padding: 6px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s;
}

#slide_show .slide_auto {
  display: flex;
  justify-content: center;
  margin-top: -12px;
  pointer-events: none;
}

#slide_show .auto-btn {
  padding: 6px;
  background-color: var(--slide-btn-color);
  border-radius: 50px;
  transition: 0.4s;
}

#slide_show .manual-btn:not(:last-child) {
  margin-right: 20px;
}

#slide_show .auto-btn:not(:last-child) {
  margin-right: 20px;
}

#slide_show .manual-btn:hover {
  background-color: var(--header-color);
}

.slide_container:has(#radio-1:checked) {
  left: 0;
}

.slide_container:has(#radio-2:checked) {
  left: -100%;
}

.slide_container:has(#radio-3:checked) {
  left: -200%;
}

.slide_container:has(#radio-1:checked) ~ .slide_auto .btn-1 {
  background-color: var(--header-color);
}

.slide_container:has(#radio-2:checked) ~ .slide_auto .btn-2 {
  background-color: var(--header-color);
}

.slide_container:has(#radio-3:checked) ~ .slide_auto .btn-3 {
  background-color: var(--header-color);
}
/* ----------------------- */
#new_product {
  padding: 0 40px;
  position: relative;
  top: 140px;
  margin-bottom: 140px;
}

#new_product h1 {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  text-underline-offset: 10px;
  font-size: 30px;
  margin-bottom: 40px;
}

#new_product h1::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: var(--header-color);
  bottom: 0;
  transform: translateX(70px);
}

#new_product .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#new_product .product {
  position: relative;
  width: 20%;
  min-width: 270px;
  margin-bottom: 40px;
}

#new_product .product p {
  display: flex;
  justify-content: space-between;
}

#new_product .product-name,
#new_product .heart {
  cursor: pointer;
}

#new_product .product img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}

#new_product .product .heart {
  color: var(--header-color);
}

#new_product .price_hide {
  height: 60px;
  overflow: hidden;
}

#new_product .price_hide .price_moveup {
  transition: all 0.3s;
}

#new_product .price_hide .addcart_moveup {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  margin-top: 8px;
  transform: translateY(-80%);
  transition: all 0.5s;
  opacity: 0;
}

#new_product .add-to-cart {
  text-align: center;
  width: 70%;
  padding: 10px 20px;
  background-color: var(--addToCart-color);
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}

#new_product .add-to-cart:hover {
  background-color: var(--page-color);
}

#new_product .eye-show {
  padding: 10px 18px;
  background-color: var(--page-color);
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}

#new_product .eye-show:hover {
  background-color: var(--addToCart-color);
}

#new_product .product .star-icon {
  display: inline-block;
  margin: 7px 0;
  font-size: 14px;
}

#new_product .product .star-icon i:not(:last-child) {
  margin-right: 4px;
  color: var(--header-color);
}

#new_product .product .price-product {
  font-weight: 700;
}

#new_product .product:hover .price_moveup {
  transform: translateY(-150%);
}

#new_product .product:hover .addcart_moveup {
  transform: translateY(-100%);
  opacity: 100%;
}

#new_product .product:hover img,
#best_sales .seller-items img:hover {
  box-shadow: 4px 4px 10px var(--slide-btn-color);
}

#new_product .product:hover .sale-item {
  transform: rotateY(360deg);
}

#new_product .sale-item {
  transition: 0.5s;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--addToCart-color);
  color: var(--white-color);
  padding: 14px 10px;
  font-size: 12px;
}

#new_product .border-bottom {
  margin-top: 60px;
  padding: 3px;
  background-color: var(--page-color);
}

#new_product .box-out {
  max-width: 260px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  transform: translateY(-55%);
  cursor: pointer;
}

#new_product .box-in {
  width: 100%;
  background-color: var(--page-color);
  color: var(--white-color);
  padding: 20px;
  text-align: center;
  font-weight: 600;
  transition: 0.3s;
}

#new_product .box-out:hover .box-in {
  background-color: var(--addToCart-color);
}

/* ----------------------------------- */
#best_sales {
  padding: 0 40px;
  margin-bottom: 70px;
  overflow: hidden;
}

#best_sales .banner {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
}

#best_sales .banner img {
  width: 100%;
}

#best_sales .banner-info {
  position: absolute;
  top: 35%;
  left: 200px;
  right: 200px;
}

#best_sales .info-wrapper {
  width: 25%;
  max-width: 200px;
  text-align: center;
  float: left;
}

#best_sales .info-wrapper h2 {
  color: var(--addToCart-color);
  margin-bottom: 10px;
  font-size: 30px;
}

#best_sales .best_seller_grid {
  display: flex;
}

#best_sales .left-banner {
  width: 40%;
  margin-right: 10%;
  margin-left: 30px;
}

#best_sales .left-banner img {
  width: 100%;
}

#best_sales .right-banner {
  margin-top: 16px;
}
#best_sales .right-banner h2 {
  margin-bottom: 36px;
  position: relative;
}

#best_sales .right-banner h2::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: var(--header-color);
  bottom: -8px;
  transform: translateX(30px);
}

#best_sales .seller-items {
  display: flex;
}

#best_sales .item {
  margin-left: 15px;
  margin-right: 50px;
  max-width: 220px;
}

#best_sales .item img {
  border-radius: 10px;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
}

#best_sales .item p {
  margin: 6px 0;
}

#best_sales .item i:not(:last-child) {
  margin-right: 4px;
}

#best_sales .star-icon {
  color: var(--header-color);
  cursor: pointer;
}

#best_sales .item-price {
  font-weight: bold;
}

/* ------------------------------------ */
#register-box {
  padding: 35px 90px;
  background-color: var(--register-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

#register-box p {
  font-size: 25px;
}

#register-box .email-input {
  position: relative;
  width: 500px;
  height: 52px;
}

#register-box input {
  width: 70%;
  height: 100%;
  padding: 16px 30px;
  font-size: 15px;
  transition: 0.2s;
}

#register-box input:focus {
  border: solid var(--header-color) 1px;
}

#register-box button {
  width: 30%;
  position: absolute;
  padding: 16px 30px;
  right: 0;
  height: 100%;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--header-color);
  font-weight: bold;
  transition: 0.5s;
  font-size: 15px;
}

#register-box button:hover {
  background-color: var(--page-color);
}

/* -------------------------------------- */
footer {
  padding: 60px 40px;
  background-color: var(--footer-color);
  color: var(--white-color);
}

footer .footer_nav {
  display: flex;
}

footer .footer_nav-info {
  padding: 0 20px;
}

footer .footer_nav-info:not(:first-child) {
  border-left: 1px solid #444;
}

footer .about-icon {
  display: flex;
}

footer .about-icon .icon {
  font-size: 40px;
  margin-right: 15px;
  color: var(--light-white);
}

footer .footer_nav h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 22px;
}

footer .about {
  flex-basis: 25%;
}

footer .about p {
  margin-bottom: 30px;
  font-size: 16px;
}

footer .account {
  flex-basis: 25%;
}

footer .arrow-list {
  margin: 10px 0;
}

footer .arrow-list a:hover,
footer .arrow-list:has(a:hover),
footer .about i,
footer .about-icon .icon:hover {
  color: var(--header-color);
  transition: 0.2s;
}

footer .arrow {
  margin-right: 8px;
}

footer .arrow-list a,
footer .arrow-list,
footer .about p,
footer .contact-icon li,
.copyright a {
  color: var(--light-white);
}

footer .infomation {
  flex-basis: 25%;
}

footer .contact {
  flex-basis: 25%;
}

footer .contact .icon {
  padding: 10px;
  background-color: var(--sub-nav-color);
  border-radius: 50%;
  margin-right: 20px;
}

footer .contact-icon li {
  margin: 20px 0;
}

footer .contact-icon span {
  font-size: 14px;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
  padding: 0 40px;
  font-size: 14px;
  color: var(--light-white);
}

.copyright a:hover {
  color: var(--sub-nav-color);
}
/* ---------------------------- */
/* Animation */
@keyframes sub-header {
  0% {
    transform: translateY(30px);
    opacity: 20%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes searchBox {
  0% {
    width: 0%;
    opacity: 80%;
  }
  100% {
    width: 500px;
    opacity: 100%;
  }
}
/* Responsive Responsive Responsive */

/* Mobile and Tablet */
@media screen and (max-width: 63.9375em) {
  header .nav-info {
    display: none;
  }

  header .menu-icon {
    display: block;
  }

  header .nav-control {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
    padding: 80px 20px 0;
    height: 100vh;
    background-color: var(--bg-color);
    box-shadow: 0 4px 15px 1px var(--shadown-color);
    transition: 0.4s;
    width: 300px;
    right: -300px;
    z-index: 999;
  }

  header .login-item {
    display: block;
  }

  header .nav-control.active {
    right: 0;
  }

  header .nav-control li {
    border-bottom: 1px solid var(--sub-nav-color);
  }

  header .home:hover .home-list {
    display: none;
  }

  header .close {
    display: block;
    position: absolute;
    margin: 10px 15px 20px;
    font-size: 40px;
    top: 15px;
    left: 10px;
  }

  header .cart {
    display: block;
    position: absolute;
    right: 80px;
    color: var(--page-color);
    font-size: 30px;
    margin-right: 20px;
  }

  header .cart .cart-mb-num {
    top: -6px;
    right: -6px;
    padding: 2px 4px;
  }

  header .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 0;
    transition: 0.3s;
    z-index: 2;
  }

  header .wrapper.active {
    display: block;
    opacity: 1;
  }

  header .search-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 25px;
    background-color: var(--bg-color);
    width: 100%;
    left: 0;
    top: 89.5px;
    height: 45px;
  }

  header .search-mobile {
    padding: 8px 20px;
    width: 90%;
    border-radius: 6px;
  }

  header .search-mb-icon {
    padding: 8px;
    background-color: var(--white-color);
    border-radius: 4px;
    color: var(--header-color);
    margin-right: 15px;
  }

  #slide_show {
    top: 135px;
  }

  #new_product .new_product-container {
    top: 170px;
  }

  #new_product .products {
    justify-content: space-around;
  }

  #new_product .product img,
  #new_product .heart,
  #new_product .box-out {
    cursor: unset;
  }

  #new_product {
    padding: 0 20px;
    position: relative;
    top: 140px;
    margin-bottom: 140px;
  }

  #best_sales {
    padding: 0 20px;
    margin-bottom: 120px;
  }

  #best_sales .banner-info {
    top: 25%;
    left: 20px;
    right: 20px;
  }

  #best_sales .info-wrapper {
    width: 20%;
  }

  #best_sales .info-wrapper:first-child {
    margin-left: 90px;
  }

  #best_sales .best_seller_grid {
    flex-direction: column;
  }

  #best_sales .left-banner {
    width: 70%;
    margin: 0 auto;
  }

  #best_sales .right-banner {
    margin-top: 46px;
  }

  #best_sales .right-banner h2 {
    margin-bottom: 36px;
    text-align: center;
    position: relative;
  }

  #best_sales .item {
    margin-left: 0;
    margin-right: 0;
  }

  #best_sales .seller-items {
    justify-content: space-evenly;
  }

  #best_sales .item img {
    cursor: none;
  }

  #register-box {
    padding: 35px 40px;
  }

  #register-box button {
    padding: 16px 15px;
  }

  footer .footer_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .footer_nav-info {
    flex-basis: 50%;
    /* padding-right: 80px; */
  }

  footer .about,
  footer .account {
    margin-bottom: 70px;
  }

  footer .footer_nav-info:not(:first-child) {
    border-left: none;
  }

  footer .footer_nav h2 {
    font-size: 32px;
  }

  footer .about p {
    font-size: 26px;
  }

  footer .about-icon .icon {
    font-size: 60px;
  }

  footer .arrow-list {
    font-size: 26px;
  }

  footer .arrow {
    margin-right: 16px;
  }

  footer .contact-icon,
  footer .contact-icon span {
    font-size: 22px;
  }
}

/* Mobile width < 740px */
@media screen and (max-width: 46.1875em) {
  header {
    padding: 20px 20px;
  }

  header .nav-control {
    width: 200px;
    right: -200px;
  }

  header .cart {
    margin-right: 0;
  }

  header .search-mb-icon {
    margin-right: 0;
    margin-left: 12px;
  }

  #best_sales .banner-info {
    top: 12%;
    left: 26px;
    right: 2px;
  }

  #best_sales .info-wrapper:first-child {
    margin-left: 20px;
  }

  #best_sales .info-wrapper h2 {
    margin-bottom: 4px;
    font-size: 16px;
  }

  #best_sales .info-wrapper p {
    font-size: 10px;
  }

  #best_sales .seller-items {
    flex-wrap: wrap;
  }

  #best_sales .item:first-child {
    margin-bottom: 30px;
  }

  #register-box {
    padding: 20px 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }

  #register-box p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  #register-box .email-input {
    position: relative;
    width: 340px;
    height: 40px;
  }

  #register-box input {
    padding: 8px 14px;
    font-size: 12px;
  }

  #register-box button {
    padding: 8px 10px;
    font-size: 12px;
  }

  footer {
    padding: 60px 10px;
  }

  footer .about {
    flex-basis: unset;
  }

  footer .footer_nav-info {
    margin-bottom: 30px;
  }

  footer .arrow-list {
    font-size: 24px;
  }
}
